body{
    margin:1px 8px 1px 8px;
}
@font-face{
    font-family:'Lobster', cursive;
    src:url(https://fonts.googleapis.com/css?family=Lobster)
}
li:before{
    content:"|";
}
li:last-child:before{
    content:none;
}
li{
    display:inline;
    list-style:none;
    padding:6px;
    position: relative;
    left:660px;
    top: 41px;
    font-size:22px;
    font-family:"Times New Roman", Times, serif;   
    text-shadow:5px 5px 10px black;
}
figure{
    position: relative;
    left: 390px;
    top: 160px;
    width:30%;
    height:50%;
}
figcaption{
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 5px 14px;
    top: 139px;
}
h1{
    float: right;
    position: absolute;
    top: 120px;
    right: 580px;
}
a:hover{
    cursor:crosshair;
}
#button{
    display:inline-block;
    position: relative;
    top: 225px;
    line-height: 25px;
    height: 25px;
    width: 19%;
    left: 500px;
}
.button{
    border:2px inset #d4d4d4;
}
.button1{
    float: left;
    position: relative;
    right: 250px;
    background-image:url(http://static.tumblr.com/c25db28edc166bfe367476a32913b4c5/0ztvotg/UKJn3km2m/tumblr_static_background-cool-backgrounds-vladstudio-2616004.jpg);
}
.button2{
    float:left;
}
.button2:hover{
    transform: translate(60px, 60px) scale(1.5, 1.5) rotate(45deg);
    border-width: 2px 10px 4px 10px;
    cursor:no-drop;
}
.button3{
    float: left;
    position: relative;
    left: 440px;
    top: -43px;
    box-shadow: 20px 20px 10px #888888;
}
.button3 .pict {
    content: url(http://cpsrk.foi.hr/sites/default/files/styles/large/public/field/image/span.png?itok=nrBdCfhF) ; 
    width: 43px;
    position: relative;
    height: 26px;
    bottom: -7px;
}
.button1 .para {
    font-family:"Lobster";
}
.button1 p{
    color:#9BDCA0;
}

